cachetools
curl_cffi
python-dotenv
loguru
lxml
playwright
pyperclip
pywin32
pillow
psutil
uiautomation

# ---------videofatch 依赖 (排除nodejs)---------
requests
rich
prettytable
click
json_repair
pathvalidate
platformdirs
emoji
bleach
beautifulsoup4
parsel
tqdm
pycryptodomex
pycryptodome
cryptography
tldextract
fake_useragent
pyfreeproxy
questionary
pywidevine
m3u8